.recipe {
  display: flex;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
}

.image {
  width: 180px;
}

.name {
  flex: 1;
  padding: 20px;
}

.name a {
  color: #0b96bb;
  text-decoration: none;
  font-size: 26px;
}

.graph {
  flex: 1;
  padding: 10px;
}

.button {
  background: #fe0;
  height: 180px;
  width: 180px;
  border: none;
  font-size: 40px;
  font-weight: 900;
}

.bar {
  height: 20px;
  width: 100%;
  background: red;
  position: relative;
}

.innerBar {
  background: pink;
  position: absolute;
  height: 20px;
  left: 0;
  top: 0;
  transition: width 0.2s ease;
}
