:root {
  --blue: #18c1ee;
  --yellow: #fe0;
  --grey: #222;
  --rowHeight: 150px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background: var(--blue);
}

* {
  box-sizing: border-box;
}

.layout {
  padding: 40px 0;
  max-width: 1000px;
  margin: 0 auto;
}
