:root {
  --blue: #18c1ee;
  --yellow: #fe0;
  --grey: #222;
  --imageHeight: 180px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background: var(--blue);
}

* {
  box-sizing: border-box;
}

.layout {
  padding: 40px;
}

.header {
  color: white;
  font-size: 50px;
  font-weight: bold;
}
